.navbar{
	background-color: orange;
	border-color:orange;
}

.navbar > .container > div > .navbar-nav > li > a{
	background: none;
	color: white;
	font-weight: bold;
	
}

.navbar > .container > div > .navbar-nav > li > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}
.navbar > .container > .navbar-header > a {
	background: none;
	color: white;
	font-weight: bold;
}
.navbar > .container > .navbar-header > a:hover {
	background : none;
	color: yellow;
	font-weight: bold;
}
.navbar-default .navbar-nav > .open > a{
	background: none !important;    
	color:yellow;
}
.navbar-default .navbar-nav > .open > a:focus{
	color: white;

}
.edit-links{
	margin-top: 10px;
}

.panel > .panel-heading {
	background-color: blue;
	color: white;
	font-weight:bold;
}

textarea {
	width:100%;
}
.errors{
	color: red;
}
.pagination{
	margin-top: 20px;
	margin-bottom: 30px;
}
.homepage-status{
	
	margin-top: 40px;
	font-size: larger;
	font-family: serif;
	font-style: italic;
}

.status-update{
	margin-top: 4em;
	margin-bottom: 7em;
}
.login-form{
	width: 100%;
	
}
.login-form > div{
	margin-left:20px;
	width:90%;
	margin-top:20px;
	margin-bottom:10px;
}
.login-form > div > button{
	background-color: blue;
	color:whithe;
	font-weight: bold;
	border-color: darkblue;
	border-radius: 5px;
	
}
.login-error{
	margin-top:10px;
	margin-bottom:10px;
	color:red;
	font-weight:bold;
	font-size: 15px;
}
.register-error{
	margin-top:10px;
	margin-bottom:10px;
	color:red;
	font-weight:bold;
	font-size: 15px;
}
.message{
	font-size: x-large;
	margin-top: 100px;
}
.profile-image{
		float: left;
		margin-top: 10px;
		margin-bottom: 5px;
		margin-right:15px;
		border:1px solid ;
}
.profile-about{
	width:100%;
	border:1px solid gray;
	padding:50px;
	overflow: auto;
	
	
}
.profile-text{
	font-size: larger;
}
.profile-about-edit{
	position: absolute;
	bottom: 0px;
	right:50px;
}
#profile-photo-status{
	position: absolute;
	top: 60px;
	left:65px;
	font-weight: bold;
	color:maroon;
}
#photoUploadForm{				
	display: none;
}

ul#interestList{
	border: 1px solid grey;
	border-radius: 10px;
}

ul.tagit > li.tagit-choice{
	background-color: orange;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	box-shadow: 2px 2px black;
	
}

ul#interestList a.tagit-close > span.text-icon{
	
	display: inline;
	color: yellow;
	padding: 6px;
	font-size: 1.1em;
	
}

ul#interestList a.tagit-close:hover{
	text-decoration: none;
}

ul#interestList a.tagit-close:hover > span.text-icon{
	color:gray;
}
div[role=status]{
	display: none;
}
#ui-id-1{
	display: none !important;
}

#search-button{
	background-color: orange;
}

.results-photo{
	display: inline-block;
}

.results-details{
	display: inline-block;
	margin-left: 20px;
}
.results-name{
	font-weight: bold;
	
}
.register-prompt{
	font-size: 1.3em;
	font-weight: bold;

}
.results-interests{
	font-size: 1em;
	font-weight: bold;
}
.person-row{
	border: #fed889 solid;
	margin-bottom: 5px;
}
.text-line{
	margin-left: 370px;
}